# Multivariate visualizations to statistics

## Limited utility of graphing vectors

Graphs are easy to understand and catchy when you want to explain something. You can convey a lot of information through a picture. However, as we saw, there is a limit to the extent of information you can show on the graph and still convey its meaning appropriately. 

Graphs do a good job in univariate and bivariate data analysis. They can even do a decent job in 4 dimensions by plotting 3 dimensional data points and using color as the 4th feature. However, it is hard to plot 5 features within a single plot. Even if you manage to plot 5 dimensions, it will be difficult to interpret the graph. So when you have multidimensional data, which can reach 1000s of features, you have to rely on multivariate statistics for analyzing the data before you explore visualizations. 

Statistics can help narrow down the list of significant features you can use for building a model. These reduced sets of features can be analyzed using graphs. Statistics will guide features or data to be visualized to gain more insights from the data.

In [1]:
housing_prices <- read.csv("datasets/kc_house_data.csv")

In [3]:
t(head(housing_prices))

              1               2               3               4
X             1               2               3               4
id            7129300520      6414100192      5631500400      2487200875
date          20141013T000000 20141209T000000 20150225T000000 20141209T000000
price          221900          538000          180000          604000
bedrooms      3               3               2               4
bathrooms     1.00            2.25            1.00            3.00
sqft_living   1180            2570             770            1960
sqft_lot        5650            7242           10000            5000
floors        1               2               1               1
waterfront    0               0               0               0
view          0               0               0               0
condition     3               3               3               5
grade          7               7               6               7
sqft_above    1180            2170             770            1050
sqft_basement    0             400               0             910
yr_built      1955            1951            1933            1965
yr_renovated     0            1991               0               0
zipcode       98178           98125           98028           98136
lat           47.5112         47.7210         47.7379         47.5208
long          -122.257        -122.319        -122.233        -122.393
sqft_living15 1340            1690            2720            1360
sqft_lot15      5650            7639            8062            5000
              5               6
X             5               6
id            1954400510      7237550310
date          20150218T000000 20140512T000000
price          510000         1225000
bedrooms      3               4
bathrooms     2.00            4.50
sqft_living   1680            5420
sqft_lot        8080          101930
floors        1               1
waterfront    0               0
view          0               0
condition     3               3
grade          8              11
sqft_above    1680            3890
sqft_basement    0            1530
yr_built      1987            2001
yr_renovated     0               0
zipcode       98074           98053
lat           47.6168         47.6561
long          -122.045        -122.005
sqft_living15 1800            4760
sqft_lot15      7503          101930

Let's see how the independent variables are correlated to the dependent variable price. Before we can run cor(), we'll need to ensure all the supplied features are numeric.

In [5]:
# sapply applies the class function to each column of housing_prices_dataframe
t(sapply(housing_prices, class))

     X       id      date   price   bedrooms bathrooms sqft_living sqft_lot
[1,] integer numeric factor numeric integer  numeric   integer     integer
     floors  waterfront ... grade   sqft_above sqft_basement yr_built
[1,] numeric integer    ... integer integer    integer       integer
     yr_renovated zipcode lat     long    sqft_living15 sqft_lot15
[1,] integer      integer numeric numeric integer       integer

In [6]:
sapply(housing_prices, class)

            X            id          date         price      bedrooms
    "integer"     "numeric"      "factor"     "numeric"     "integer"
    bathrooms   sqft_living      sqft_lot        floors    waterfront
    "numeric"     "integer"     "integer"     "numeric"     "integer"
         view     condition         grade    sqft_above sqft_basement
    "integer"     "integer"     "integer"     "integer"     "integer"
     yr_built  yr_renovated       zipcode           lat          long
    "integer"     "integer"     "integer"     "numeric"     "numeric"
sqft_living15    sqft_lot15
    "integer"     "integer"