Let's begin with statistics mainly for univariate data analysis, covering some basic concepts like descriptive and inferential statistics and distributions.

## Loading data

In [33]:
auto_mpg <- read.csv("datasets/auto-mpg.csv")

In [34]:
head(auto_mpg)

  mpg cylinders displacement horsepower weight acceleration model.year origin
1 18  8         307          130        3504   12.0         70         1
2 15  8         350          165        3693   11.5         70         1
3 18  8         318          150        3436   11.0         70         1
4 16  8         304          150        3433   12.0         70         1
5 17  8         302          140        3449   10.5         70         1
6 15  8         429          198        4341   10.0         70         1
  car.name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

In [35]:
names(auto_mpg)

[1] "mpg"          "cylinders"    "displacement" "horsepower"   "weight"
[6] "acceleration" "model.year"   "origin"       "car.name"

In [36]:
column_names <- names(auto_mpg)

In [37]:
column_names

[1] "mpg"          "cylinders"    "displacement" "horsepower"   "weight"
[6] "acceleration" "model.year"   "origin"       "car.name"

In [38]:
# modify the names of the columns of auto_mpg dataset by assigning new names
names(auto_mpg) <- c("a", "b", "c", "d", "e", "f", "g", "h", "i")

In [39]:
names(auto_mpg)

[1] "a" "b" "c" "d" "e" "f" "g" "h" "i"

### Changing a specific column name

In [40]:
names(auto_mpg)[1] = "z"

In [41]:
names(auto_mpg)

[1] "z" "b" "c" "d" "e" "f" "g" "h" "i"

In [42]:
names(auto_mpg) <- column_names

In [43]:
names(auto_mpg)

[1] "mpg"          "cylinders"    "displacement" "horsepower"   "weight"
[6] "acceleration" "model.year"   "origin"       "car.name"

summary() command gives a summary of each variable in the dataframe. As shown below, the command is very informative. It calculates the minimum value, 1st quartile, 2nd quartile (mean), 3rd quartile, and the maximimum values of numeric variables. If the variable has NA values, number of such rows with NA values is displayed too. You can use this info to quickly identify if the variables are qualitative (discrete) or quantitative (continuous). For example, all the variables in auto_mpg dataset (except for origin and car name) are continuous.

In [44]:
summary(auto_mpg)

      mpg          cylinders      displacement     horsepower      weight
 Min.   : 9.00   Min.   :3.000   Min.   : 68.0   150    : 22   Min.   :1613
 1st Qu.:17.50   1st Qu.:4.000   1st Qu.:104.2   90     : 20   1st Qu.:2224
 Median :23.00   Median :4.000   Median :148.5   88     : 19   Median :2804
 Mean   :23.51   Mean   :5.455   Mean   :193.4   110    : 18   Mean   :2970
 3rd Qu.:29.00   3rd Qu.:8.000   3rd Qu.:262.0   100    : 17   3rd Qu.:3608
 Max.   :46.60   Max.   :8.000   Max.   :455.0   75     : 14   Max.   :5140
                                                 (Other):288
  acceleration     model.year        origin                car.name
 Min.   : 8.00   Min.   :70.00   Min.   :1.000   ford pinto    :  6
 1st Qu.:13.82   1st Qu.:73.00   1st Qu.:1.000   amc matador   :  5
 Median :15.50   Median :76.00   Median :1.000   ford maverick :  5
 Mean   :15.57   Mean   :76.01   Mean   :1.573   toyota corolla:  5
 3rd Qu.:17.18   3rd Qu.:79.00   3rd Qu.:2.000   amc gremlin   :  4
 Max.   :24.80   Max.   :82.00   Max.   :3.000   amc hornet    :  4
                                                 (Other)       :369

The reason why horsepower has no min, max, mean, etc is because the horsepower variable values are strings.

In [45]:
str(auto_mpg)

'data.frame':	398 obs. of  9 variables:
 $ mpg         : num  18 15 18 16 17 15 14 14 14 15 ...
 $ cylinders   : int  8 8 8 8 8 8 8 8 8 8 ...
 $ displacement: num  307 350 318 304 302 429 454 440 455 390 ...
 $ horsepower  : Factor w/ 94 levels "?    ","100",..: 17 35 29 29 24 42 47 46 48 40 ...
 $ weight      : int  3504 3693 3436 3433 3449 4341 4354 4312 4425 3850 ...
 $ acceleration: num  12 11.5 11 12 10.5 10 9 8.5 10 8.5 ...
 $ model.year  : int  70 70 70 70 70 70 70 70 70 70 ...
 $ origin      : int  1 1 1 1 1 1 1 1 1 1 ...
 $ car.name    : Factor w/ 305 levels "amc ambassador brougham",..: 50 37 232 15 162 142 55 224 242 2 ...

Horsepower is a factor datatype. Factors are categorical variables. They are not treated as continuous variables. So the summary function would not calculate its mean, median, min/max, etc. str() tells you the datatype of variables, the dimensions fo the dataframe, and also gives an overview of the kind of values each variable contains.

### Column access

In [46]:
summary(auto_mpg$weight)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1613    2224    2804    2970    3608    5140

## Descriptive Statistics
Descriptive statistics are used to summarize and describe data. If we are analyzing miles per gallon data, for example, a descriptive statistics might be the percentage of cars with different numbers of cylinders or the average miles per gallon for all cars. Many descriptive statistics are often used at one time to give a full picture of the data. 

There are mainly 2 categories of descriptive statics: measures of central tendency (or averages) and measures of dispersion (which summarizes how spread out and dispersed the data points are).

TODO: FINISH THIS!!!!