# Extra ways to summarize data

## Summarizing vectors

Vectors are summarized using measures of central tendency and variability. Let's look into other descriptive statistics for summarizing the vectors.

In [1]:
housing_prices <- read.csv("datasets/kc_house_data.csv")

In [2]:
t(head(housing_prices))

              1               2               3               4
X             1               2               3               4
id            7129300520      6414100192      5631500400      2487200875
date          20141013T000000 20141209T000000 20150225T000000 20141209T000000
price          221900          538000          180000          604000
bedrooms      3               3               2               4
bathrooms     1.00            2.25            1.00            3.00
sqft_living   1180            2570             770            1960
sqft_lot        5650            7242           10000            5000
floors        1               2               1               1
waterfront    0               0               0               0
view          0               0               0               0
condition     3               3               3               5
grade          7               7               6               7
sqft_above    1180            2170             770            1050
sqft_basement    0             400               0             910
yr_built      1955            1951            1933            1965
yr_renovated     0            1991               0               0
zipcode       98178           98125           98028           98136
lat           47.5112         47.7210         47.7379         47.5208
long          -122.257        -122.319        -122.233        -122.393
sqft_living15 1340            1690            2720            1360
sqft_lot15      5650            7639            8062            5000
              5               6
X             5               6
id            1954400510      7237550310
date          20150218T000000 20140512T000000
price          510000         1225000
bedrooms      3               4
bathrooms     2.00            4.50
sqft_living   1680            5420
sqft_lot        8080          101930
floors        1               1
waterfront    0               0
view          0               0
condition     3               3
grade          8              11
sqft_above    1680            3890
sqft_basement    0            1530
yr_built      1987            2001
yr_renovated     0               0
zipcode       98074           98053
lat           47.6168         47.6561
long          -122.045        -122.005
sqft_living15 1800            4760
sqft_lot15      7503          101930

apply(), lapply(), sapply(), tapply(), ddply() are some summarizing functions that we can use to apply functions on the columns

## APPLY()

The apply function is used to apply a function to the rows or columns of a matrix. It collapses either a row or a column. 1 represents row and 2 represents column. We'll try to apply the mean function for all columns so we're using 2.

In [4]:
# Date is a factor variable so we cannot apply the mean function onto a factor variable. The id column is just an identifier. 
# Let's exclude them

less_data <- housing_prices[, !names(housing_prices) %in% c("date", "id")]

In [5]:
apply(less_data, 2, mean)

            X         price      bedrooms     bathrooms   sqft_living
 1.080700e+04  5.400881e+05  3.370842e+00  2.114757e+00  2.079900e+03
     sqft_lot        floors    waterfront          view     condition
 1.510697e+04  1.494309e+00  7.541757e-03  2.343034e-01  3.409430e+00
        grade    sqft_above sqft_basement      yr_built  yr_renovated
 7.656873e+00  1.788391e+03  2.915090e+02  1.971005e+03  8.440226e+01
      zipcode           lat          long sqft_living15    sqft_lot15
 9.807794e+04  4.756005e+01 -1.222139e+02  1.986552e+03  1.276846e+04

In [10]:
colMeans(less_data) # much faster

# colMeans
# rowMeans
# colSums
# rowSums

            X         price      bedrooms     bathrooms   sqft_living
 1.080700e+04  5.400881e+05  3.370842e+00  2.114757e+00  2.079900e+03
     sqft_lot        floors    waterfront          view     condition
 1.510697e+04  1.494309e+00  7.541757e-03  2.343034e-01  3.409430e+00
        grade    sqft_above sqft_basement      yr_built  yr_renovated
 7.656873e+00  1.788391e+03  2.915090e+02  1.971005e+03  8.440226e+01
      zipcode           lat          long sqft_living15    sqft_lot15
 9.807794e+04  4.756005e+01 -1.222139e+02  1.986552e+03  1.276846e+04

Let's create a list using variables "bedrooms" and "bathrooms".

In [13]:
x <- list(housing_prices$bedrooms, housing_prices$bathrooms)

In [14]:
str(x)

List of 2
 $ : int [1:21613] 3 3 2 4 3 4 3 3 3 3 ...
 $ : num [1:21613] 1 2.25 1 3 2 4.5 2.25 1.5 1 2.5 ...

## LAPPLY()

lapply() is used when you want to apply a function to each element of a list. Hence...the L in Lapply. A list of values is returned back for every element of the list. lapply(x) returns a list of the same length of x

In [18]:
res <- lapply(x, FUN = mean)
res

[[1]]
[1] 3.370842

[[2]]
[1] 2.114757

In [19]:
class(res)

[1] "list"

## SAPPLY()

sapply() is used when you want to apply a function to each element of a list. In return, you will get a vector rather than a list. lapply() and sapply() are similar except for the return type of the result.

In [21]:
res <- sapply(less_data, mean)
res
class(res)

            X         price      bedrooms     bathrooms   sqft_living
 1.080700e+04  5.400881e+05  3.370842e+00  2.114757e+00  2.079900e+03
     sqft_lot        floors    waterfront          view     condition
 1.510697e+04  1.494309e+00  7.541757e-03  2.343034e-01  3.409430e+00
        grade    sqft_above sqft_basement      yr_built  yr_renovated
 7.656873e+00  1.788391e+03  2.915090e+02  1.971005e+03  8.440226e+01
      zipcode           lat          long sqft_living15    sqft_lot15
 9.807794e+04  4.756005e+01 -1.222139e+02  1.986552e+03  1.276846e+04

[1] "numeric"

In [23]:
res <- sapply(x, mean)
res
class(res)

[1] 3.370842 2.114757

[1] "numeric"

## MAPPLY()

mapply() is used when we have several data structures (vectors, lists, etc) and we want to apply a function to all columns in a row. The result is coerced into a vector/array as in sapply. 

For examples, there are different variables measuring different areas like sqft_living, sqft_lot, sqft_above, 
sqft_base, sqft_living15, sqft_lot15. If we want to find the total area of each house then we can use this function.

In [24]:
result <- mapply(sum, housing_prices$sqft_living, housing_prices$sqft_lot, housing_prices$sqft_above, housing_prices$sqft_basement, 
                    housing_prices$sqft_living15, housing_prices$sqft_lot15)

In [28]:
head(result, 10)
# the values in the mapply() for the first row = 1500....second row = 21711

 [1]  15000  21711  22322  15280  20743 219460  19306  23192  20923  20300

In [26]:
class(result)

[1] "integer"

## TAPPLY()

tapply() is used when you want to apply a function to subsets of a vector and the subsets are defined by some other vector, usually a factor. 

It is a tabular version of apply(), which means that its input argument should have a categorical variable and its argument function is applied to each group. 

For example, we may want to know the average price of homes for each number of bedrooms in the house

In [30]:
t(tapply(housing_prices$price, housing_prices$bedrooms, mean))

     0        1        2        3        4        5        6        7
[1,] 409503.8 317642.9 401372.7 466232.1 635419.5 786599.8 825520.6 951184.7
     8       9        10       11     33
[1,] 1105077 893999.8 819333.3 520000 640000

## BY()

tapply() can be used to summarize one variable based on another variable. But what if we want to summarize many variables. The by function is like an extended version of tapply() command.

In [31]:
byViews <- by(housing_prices[, c("price", "sqft_living")], housing_prices$view, summary)
byViews

housing_prices$view: 0
     price          sqft_living
 Min.   :  75000   Min.   : 290
 1st Qu.: 311000   1st Qu.:1390
 Median : 432500   Median :1850
 Mean   : 496564   Mean   :1998
 3rd Qu.: 600000   3rd Qu.:2450
 Max.   :5570000   Max.   :9200
------------------------------------------------------------
housing_prices$view: 1
     price          sqft_living
 Min.   : 217000   Min.   : 570
 1st Qu.: 498750   1st Qu.:1855
 Median : 690944   Median :2420
 Mean   : 812281   Mean   :2569
 3rd Qu.: 921250   3rd Qu.:3180
 Max.   :3650000   Max.   :6300
------------------------------------------------------------
housing_prices$view: 2
     price          sqft_living
 Min.   : 169317   Min.   :  470
 1st Qu.: 485000   1st Qu.: 1842
 Median : 675000   Median : 2470
 Mean   : 792401   Mean   : 2655
 3rd Qu.: 941250   3rd Qu.: 3250
 Max.   :7062500   Max.   :10040
------------------------------------------------------------
housing_prices$view: 3
     price          sqft_living
 Min.   : 154000   Min.   :  440
 1st Qu.: 554000   1st Qu.: 2210
 Median : 802500   Median : 2840
 Mean   : 971965   Mean   : 3019
 3rd Qu.:1256000   3rd Qu.: 3658
 Max.   :7700000   Max.   :12050
------------------------------------------------------------
housing_prices$view: 4
     price          sqft_living
 Min.   : 252000   Min.   :  680
 1st Qu.: 817500   1st Qu.: 2425
 Median :1185000   Median : 3050
 Mean   :1463711   Mean   : 3351
 3rd Qu.:1850000   3rd Qu.: 3911
 Max.   :6885000   Max.   :13540

## 2 way tables

2 way tables are very informative. We have distribution of bathrooms for every count of bedrooms. It is very detailed and the sums of columns and rows are displayed which indicate number of bedrooms or bathrooms with a specific number

In [32]:
# produces a 2 way table with distribution count of every combination between bedrooms and bathrooms. 
# addmargins() will give the summary or sum of this counts at the end of both x and y axis. 

bed_vs_bath <- table(housing_prices$bedrooms, housing_prices$bathrooms)
addmargins(bed_vs_bath)

    0  0.5 0.75 1    1.25 1.5  1.75 2    2.25 2.5  ... 5.5 5.75 6 6.25 6.5 6.75
0    7 0    1      1 0       1    0    0    0    3 ...  0  0    0 0    0   0
1    3 1   27    138 2      12    4    6    4    2 ...  0  0    0 0    0   0
2    0 2   26   1558 3     294  304  216  118  197 ...  0  0    0 0    0   0
3    0 0   16   1780 4     829 1870 1048 1082 2357 ...  0  0    0 0    0   0
4    0 1    2    325 0     254  719  525  709 2502 ...  5  1    0 0    0   0
5    0 0    0     43 0      48  134  110  116  287 ...  4  2    4 2    1   1
6    0 0    0      6 0       6   16   24   15   29 ...  0  0    1 0    1   0
7    0 0    0      1 0       2    0    0    3    2 ...  1  1    0 0    0   1
8    0 0    0      0 0       0    0    0    0    1 ...  0  0    1 0    0   0
9    0 0    0      0 0       0    0    0    0    0 ...  0  0    0 0    0   0
10   0 0    0      0 0       0    0    1    0    0 ...  0  0    0 0    0   0
11   0 0    0      0 0       0    0    0    0    0 ...  0  0    0 0    0   0
33   0 0    0      0 0       0    1    0    0    0 ...  0  0    0 0    0   0
Sum 10 4   72   3852 9    1446 3048 1930 2047 5380 ... 10  4    6 2    2   2
    7.5 7.75 8 Sum
0   0   0    0    13
1   0   0    0   199
2   0   0    0  2760
3   0   0    0  9824
4   0   0    0  6882
5   0   0    0  1601
6   0   1    1   272
7   0   0    1    38
8   0   0    0    13
9   1   0    0     6
10  0   0    0     3
11  0   0    0     1
33  0   0    0     1
Sum 1   1    2 21613